# App artifacts
/_build
/cover/
/db
/deps
/doc/
/.fetch
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Ignore package tarball (built via "mix hex.build").
phoenix_sea_battle-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

.iex.exs
