/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

#game {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 16fr 4fr;
}
.chat, .game {
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  height: 500px;
  margin: 0;
}
.panel {
  background: #eee;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  height: 100%;
  border-color: #ddd;
  height: 400px;
}
.panel-heading {
  border-bottom: 2px solid transparent;
  background: rgb(243, 240, 253);
  border-color: #ddd;
  padding-left: 0.5em;
  padding-top: 0.3em;
  height: 8%;
}
.panel-body {
  padding-left: 0.5em;
  padding-top: 0.3em;
  word-wrap: break-word;
  overflow-y: auto;
  height: 92%;
}
.opponent-status {
  padding-top: 0.5em;
  padding-left: 1.4em;
}
.panel-sub {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 1em;
}
.state-bar {
  padding-left: 0.5em
}
.error {
  color: red;
  font-weight: bold
}
.users {
  padding-bottom: 0.5em;
}
.button-default {
  width: 100%;
  padding: 0;
}
.button-small {
  padding: 0 !important
}
.empty-button {
  padding: 0em;
  margin: 0em;
  border-radius: 0em;
  height: 100% !important;
  width: 100% !important;
  border: 0.2em solid black !important;
  background-color: white !important;
}
.boards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.6em;
  margin-top: 0.8em;
  margin-left: 1.2em;
  margin-right: 1.2em;
}
.board {
  display: grid;
  grid-template-rows: repeat(10, 1.3em);
  grid-template-columns: repeat(10, 1.3em);
  grid-gap: 0.2em;
  padding: 0;
  margin: 0;
}
.block {
  display: block;
  background-color: #6699ff;
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
}
.ghost_block {
  background-color: rgb(255, 145, 0);
}
.cross_block {
  background-color: rgb(255, 0, 0);
}
.ship_block {
  background-color: rgb(29, 25, 23);
}
.empty_block {
  background-color: azure;
}
.shotted_block {
  background-color: rgb(185, 0, 0);
}
.killed_block {
  background-color: rgb(100, 0, 0);
}
.near_block {
  background-color: rgb(34, 92, 168);
}
.missed_block {
  background-color: rgb(150, 150, 150);
}
