/* This file is for your main application css. */

@import "./phoenix.css";

#messages {
  overflow-y: auto;
  margin-top: 0em;
  min-height: 200px;
  word-wrap: break-word;
}
.chat, .game {
  margin-top: 0em;
}
.chat-room, .game-panel {
  margin-top: 1em;
}
.panel {
  margin-bottom: 1em;
  background: #eee;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  padding-left: 0.5em;
  padding-top: 0.5em;
}
.panel-default{
  border-color: #ddd
}
.panel-messages, .panel-users, .panel-game {
  height: 300px;
}
.users{
  padding-bottom: 0.5em;
}
.button-default{
  width: 100%;
}
.block{
  display: block;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  background-color: #6699ff;
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
}
.ghost_block{
  background-color: rgb(240, 104, 70);
}