<form phx-submit="insert_message">
  <input id="chat-input" name="chat-input" type="text" class="form-control" value="" maxlength="100" placeholder="Type a message..." autocomplete="off" phx-hook="ClearChat">
</form>
