<form phx-submit="insert_message">
  <input id="chat-input" onfocus="this.value=''" name="chat-input" type="text" class="form-control" value="" maxlength="100" placeholder="Type a message..." autocomplete="off" phx-hook="MoveChat">
</form>
