<%= if @page > 1 do %>
  <button phx-click="prev_page" class="button">Prev</button>
<% else %>
  <button class="button">Prev</button>
<% end %>
Page: <%= @page %>
<%= if @page * @page_size < @total do %>
  <button phx-click="next_page" class="button">Next</button>
<% else %>
  <button class="button">Next</button>
<% end %>
<%= render_users(@page, @page_size) %>
Total users: <%= @total %>;
Total pages: <%= ceil(@total/@page_size) %>
